.demo-nav-bar, .demo-tab-group {
  border: 1px solid #e8e8e8;
  margin-bottom: 40px;

  .unicorn-dark-theme & {
    border-color: #464646;
  }
}


.demo-nav-bar {
  sunny-routed-content,
  rainy-routed-content,
  foggy-routed-content {
    display: block;
    padding: 12px;
  }
}
